
.container 
{
    width:600px;
    margin:34px auto -34px;
    border: 3px solid #E9BF7B ;
}
.head .title h1
{
    text-align: center;
    font-weight: bold;
    font-size: 43px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    padding:16px 0 0 0;
    color:white;
}
.head .title
{
    background-color: #E9BF7B;
    height:83px;
    margin: -29px 0 0 0;
}

form .first .clear
{
    clear:both;

}
.first,.last,.email,.pass,.cpass
{
    margin:12px 0 13px 20px;
    padding:12px 0 0 0;
}
.first label,
.last label,
.email label,
.pass label,
.cpass label
{
    text-transform: capitalize;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#E9BF7B;
}
.first input,
.last input,
.email input,
.pass input,
.cpass input
{
    width:90%;
    height:33px;
    margin: 11px 0 3px 0;
    text-transform: capitalize;
    padding: 0 0 0 10px;
    background-color: #D8D8D8;
    border: none;
}
.submit
{
    margin:0 0 0 19px;
}
.submit input[type="submit"],
textarea
{
    background-color:#ececec;
    color:rgb(8, 8, 8);
    font-weight: bold;
    margin:0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    font-size: 20px;
    text-transform: capitalize;
    width:160px;
    height:33px;
}
.submit input[type="submit"]:hover
{
    background-color:#D8D8D8;
}
form
{
    margin:-12px 0 0 0px;
    background-color: white;
}

.profile-img {
    height: 100px;
    border-radius: 50px;
    width: 100px;
}
