{% extends 'user/base.html' %}

{% block title %}
: Frequently Asked Questions
{% endblock title %}

{% block auth_container %}
<style>
        /* Main Content Styles */
        main {
      padding: 20px;
    }

    section {
      margin-bottom: 20px;
    }

    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }

    dl {
      margin-top: 0;
      margin-bottom: 20px;
    }

    dt {
      font-weight: bold;
      margin-top: 10px;
    }

    dd {
      margin-left: 20px;
      margin-bottom: 10px;
    }
</style>
<main>
    <section>
      <h1>Frequently Asked Questions</h1>
      <dl>
        <dt>1. How do I create an account?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Fusce at ante et elit faucibus convallis.</dd>
        
        <dt>2. How can I reset my password?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Fusce at ante et elit faucibus convallis.</dd>
        
        <dt>3. Can I customize my profile?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Fusce at ante et elit faucibus convallis.</dd>
        
        <dt>4. How do I add friends on Social Media Clone?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Fusce at ante et elit faucibus convallis.</dd>
        
        <dt>5. How can I report inappropriate content?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Fusce at ante et elit faucibus convallis.</dd>
        
        <!-- Add more FAQs as needed -->
      </dl>
    </section>
  </main>

{% endblock auth_container %}