{% extends "user/base.html" %}
{% block title %}
: Sign Up
{% endblock title %}

{% block auth_container %}
<main class="main">
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">Sign Up</h1>
                <p class="text text-normal">Already have account? <span><a href="/login" class="text text-links">Sign In</a></span>
                </p>
            </div>
            <form name="signup" class="form" method="post" action="/signup">
                {% csrf_token %}
                {{form.as_p}}
                <div class="input-control">
                    <input type="submit" name="submit" class="input-submit" value="Sign Up" >
                </div>
            </form>
            
        </section>
    </div>
</main>

{% endblock auth_container %}